body {
    font-family: "Lato", sans-serif;
    background-color: rgb(247, 245, 242);
  }
  
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #493f3f;
    display: block;
  }
  
  .sidenav a:hover {
    color: rgb(247, 245, 242);
  }
  
  .logo {
    width: 100%;
    height: 90%;
   
  }

  .nested-list {
    list-style-type: none;
    padding-left: 0;
  }

  .sidenav {
    background-color: #dfd8c8;;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .main {
    top:0;
    margin-left: 220px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }
  
  .main-wrapper {
    padding-top: 50px;
    
  }

  .nav-wrapper {
    position: relative;
  }
  
  .logout-link {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    text-decoration: underline;
    font-size: 14px;
    color: rgb(0, 0, 0);
  }

