.register-container {
    height: 100vh;
    background-image: url(
        https://thumbs.dreamstime.com/b/greek-food-background-traditional-different-greek-dishes-set-greek-food-background-traditional-different-greek-dishes-set-top-view-178761927.jpg
        );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .my-font {
    font-size: 22px;
  }
.inputs {
    border-radius: 10px;
    border-color: black;
}
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
  }
  
  button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f06a44;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 100%;
    max-width: 300px;
  }
  
  button:hover {
    background-color: #ce5f40;
  }
  
  button:active {
    transform: translateY(2px);
    background-color: #ce5f40;
  }